/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

:root {
	--gray: #24232c;
	--dark-gray: #18171f;
	--light-gray: #817d92;
	--white: #e6e5ea;
	--green: #a4ffaf;
	--red: #f64a4a;
	--orange: #fb7c58;
	--yellow: #f8cd65;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--dark-gray);
	color: var(--white);
	font-size: 18px;
	line-height: 23px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
