.order {
  margin: 0 24px;
  border-radius: 20px;
  background-color: white;
  height: 567px;
}

.order-summary {
  padding: 0 32px;
}

.order-summary > h2 {
  color: var(--dark-blue);
  font-size: 1.375em;
  text-align: center;
  line-height: 0;
  margin: 32px 0; 
}

.order-summary > p {
  color: var(--desaturated-blue);
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  font-size: 15px;
  margin: 0 0 24px 0;
}

.header-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
