.order {
  margin: 0 24px;
  border-radius: 20px;
  background-color: white;
  height: 567px;
  display: flex;
  flex-direction: column;
}

.order-summary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly; padding: 0 24px;
}

.order-summary > h2 {
  color: var(--dark-blue);
  font-size: 1.375em;
  text-align: center;
  line-height: 0;
}

.order-summary > p {
  color: var(--desaturated-blue);
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  font-size: 15px;
  padding: 0 8px;
}

.header-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
