.app-root {
  display: flex;
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 96px 16px;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}
